<footer class="footer">
    <div class="footer__container">
        <a class="footer__logo">
            <img src="/images/logo--branco.svg"
                 alt="logo da voz do clima">
        </a>
        <nav class="footer__site-map">
            <ul class="footer__list">Mapa do Site:
                <li class="footer__item"><a class="footer__item-link" href="/">Home</a></li>
                <li class="footer__item"><a class="footer__item-link" href="/sobre">Sobre</a></li>
                <li class="footer__item"><a class="footer__item-link" href="/pesquisa">Tempo</a></li>
                <li class="footer__item"><a class="footer__item-link" href="/login">Entrar</a></li>
                <li class="footer__item"><a class="footer__item-link" href="/cadastrar">Cadastrar</a></li>
            </ul>
        </nav>
    </div>
    <small class="footer__credito">3º Semestre - Análise e Desenvolvimento de Sistemas - PI</small>
</footer>