<nav class="nav__main">
    <div class="nav__main-container">
        <a href="/">
            <img src="/images/logo.svg"
                 alt="Logo Voz do Clima">
        </a>
        <ul class="menu">
            <li class="menu__item">
                <a class="menu-link" href="/home-user">Página Inicial</a>
            </li>
            <li class="menu__item">
                <a class="menu-link" href="/solicitacoes">Serviços</a>
            </li>
            <li class="menu__item">
                <button class="menu-link primary-link" onclick="logout()">Sair</button>
            </li>
        </ul>
    </div>
</nav>

<script src="javascript/logout.js"></script>