<nav class="nav__main">
    <div class="nav__main-container">
        <a href="/">
            <img src="/images/logo.svg"
                 alt="Logo Voz do Clima">
        </a>
        <ul class="menu">
            <li class="menu__item">
                <a class="menu-link" href="/sobre">Sobre</a>
            </li>
            <li class="menu__item">
                <a class="menu-link" href="/login">Entrar</a>
            </li>
            <li class="menu__item">
                <a class="menu-link" href="/pesquisa">Tempo</a>
            </li>
            <li class="menu__item">
                <a class="menu-link primary-link" href="/cadastrar">Cadastrar</a>
            </li>
        </ul>
    </div>
</nav>