<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Voz do Clima - Login</title>
</head>
<body>

<%- include('../partials/navigation.ejs') %>
<main class="main__form">
    <h1 class="main__header">Login</h1>
    <div class="feedbackMessage">
        <div class="solicitacao__info-container">
            <img class="solicitacao__icone" src="/images/icon-check.svg">
            <p class="solicitacao__header">Cadastro Aprovado</p>
        </div>
    </div>

    <form id="loginForm" class="form__container">
        <div class="form__item">
            <label for="email" class="form__label">Email:</label>
            <input type="email" id="email" name="email" required>
            <small class="feedback"></small>
        </div>
        <div class="form__item">
            <label for="senha">Password:</label>
            <input type="password" id="senha" name="senha" required>
            <small class="feedback"></small>
        </div>
        <button type="submit" class="btn__primary">Login</button>
    </form>
</main>


<%- include('../partials/footer.ejs') %>
<script src="/javascript/login.js"></script>
</body>
</html>
