<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Voz do Clima - Sobre</title>
</head>
    <body>
    <%- include('../partials/navigation.ejs') %>
        <main class="main__sobre">
            <h1 class="sobre__header">Sobre</h1>
            <p class="sobre__body">A voz do clima é uma solução criada para atender às necessidades dos moradores de São Paulo, com foco na melhoria da qualidade de vida urbana ao abordar desafios como a manutenção de árvores, riscos de enchentes e imprevisibilidade climática. O aplicativo permite que os usuários façam denúncias de problemas locais (como árvores crescidas ou descarte irregular de lixo), recebam alertas meteorológicos em tempo real e acessem informações colaborativas sobre perigos ambientais. Ao promover a colaboração entre moradores e autoridades, o aplicativo busca aumentar a segurança, a preparação e a qualidade de vida nos bairros de São Paulo.</p>
            <div class="sobre__aside-container">
                <h2 class="sobre__subheader">Grupo:</h2>
                <ul class="sobre__list">
                    <li>Daniel Yuji Takemoto</li>
                    <li>Gabriel Camargo da Silva</li>
                    <li>Gilberto de Jesus</li>
                    <li>Lucas Moreira</li>
                    <li>Lucas Reategui Nitsche de Andrade</li>
                    <li>Matheus Oliveira Sabino</li>
                    <li>Sara de Sousa Lima</li>
                </ul>
            </div>
        </main>
    </body>
<%- include('../partials/footer.ejs') %>
</html>
